{% extends 'registation_base.html' %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="card-header" style="background: #2196F3; color: white"><b>Forgot your password?</b></div>
    <div class="card-body">
        <form method="post" class="from-group">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" style="background: #2196F3; color: white" class="btn btn-success">
                Reset
            </button>
        </form>
    </div>
{% endblock %}