{% extends 'registation_base.html' %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="card-header" style="background: #2196F3; color: white"><b>Password reset complete</b></div>
    <div class="card-body">
        <form method="post" class="from-group">
            {% csrf_token %}
            {{ form|crispy }}
            <p>Your new password has been set. You can log in now on the <a
                    href="/login">log in page</a>.</p>
        </form>
    </div>
{% endblock %}